
Body {
Background-color: pink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 75px;
  }
  
  li a:hover {
    background-color: #333;
  }